*{
    padding: 0px;
    margin: 0px;
}
#header{
    width: 100%;
    height: 800px;
    background-image: url(../asset/images/car-png-39069.png),url(../asset/images/201-2010674_white-spanner-icon-png-transparent-png.png),url(../asset/images/pexels-sebastiaan-stam-1480690.jpg);
    background-size: 300px,20%,100%;
    background-position: 0px 530px,top right,0px -120px;
    background-repeat: no-repeat;
    transition: background-size 1s,background-position 1s;
}
#gear{
    width: 280px;
    transition: rotate 10s,width 2s;
    float: left;
    margin-top: -200px;
}
#header:hover #gear{
    rotate: 360deg;
    width: 260px;
}
#header:hover{
    background-size: 300px,10%,120%;
    background-position: 1500px 530px,top right,-80px -180px; 
}
#heading{
    color: white;
    font-size: 80px;
    padding-left: 30px;
    padding-top: 200px;
    transition: font-size 2s;
    text-shadow: 5px 5px 10px white;
}
#header:hover #heading{
    font-size: 100px;
}
#car{
    width: 300px;
    height: 300px;
}